.git
.gitignore
README.md
.env
.env.example
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
public/build
public/hot
public/storage
tests
.phpunit.result.cache
